<%- include("../partials/header.ejs")%> 
<div class="card my-3" style="width: 100%;">
    <%if(!cohort){%>        
        <h4 class="mt-4 text-center">Cohort Not Found. Please create a new cohort</h4>     
        <p>
        <a href="/cohorts/new" class="btn btn-primary text-primary bg-light col-12 mt-4">Creating New Cohorts</a>
    <%} else{%>    
        <div class="card-body">
        <div class="add-items d-flex justify-content-between">
            <h1><%=cohort.name%></h1>
            <div class="align-items-end d-flex align">
                <img src="<%= cohort.logoUrl%>"  loading=lazy class="rounded-circle m-1" width="60px" height="60px" alt="<%= cohort.name%>">
                <a href="/cohorts/<%= cohort.id %>/edit" class="btn btn-outline-success btn-block my-1">Edit</a>
                <form action="/cohorts/<%= cohort.id %>" class="m-1" method="POST">
                    <input type="hidden" value="DELETE" name="_method">
                    <input type="submit" value="Delete" class="btn btn-outline-danger btn-block">
                </form>
            </div>
        </div>        
            <p class="card-text"><%= cohort.members%></p>
            <hr>
            <form action="/cohorts/<%= cohort.id%>" method="GET">
            <div class="mb-3">
                    <h6 class="card-title">Method</h6>
                    <div class="form-check my-2">
                        <input class="form-check-input" type="radio" name="method" value="teamCount" <%=isTeamCount%>>
                        <label class="form-check-label" for="method">
                            Team Count
                        </label>
                        </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="method" value="perTeam" <%=isMemberCount%>>
                        <label class="form-check-label" for="method">
                            Number Per Team
                        </label>
                    </div>
            </div>   
            <div class="form-group mb-3">
                <h5 for="quantity">Quantity</h5>
                <input type="text" class="form-control" autofocus value="<%=quantity%>" name="quantity" min="1" max="<%= num_of_member%>">                         
                <input type="submit" class="btn btn-primary text-primary bg-light col-12 mt-4" value="Assign Teams">
            </form>
            <% if(memberList){%>
                <div class="my-3">
                    <h6>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Members</h6>
                    <hr>
                    <% memberList.forEach((element, index) => {%>
                        <p><strong><%= index+1%></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= element%></p>
                        <hr>
                    <%})%>
                </div>
            <%}%>            
        </div>
    <%}%>
</div>
<%- include("../partials/footer.ejs")%>